@model List<CarListDto>

@section entityGetAllCss {
    <!-- DataTables -->
    <link rel="stylesheet" href="~/lib/panel/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/lib/panel/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/lib/panel/datatables-buttons/css/buttons.bootstrap4.min.css">

}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <partial name="Partial/_ContentHeader" />
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card text-center">
                        <div class="card-header">
                            <ul class="nav nav-pills card-header-pills">
                                <li class="nav-item mr-2">
                                    <div class="mt-4">
                                        <a asp-controller="Car" asp-action="Add"
                                           class="btn btn-dark btn-outline-success mt-2">Araç Ekle</a>
                                    </div>

                                </li>
                                <li class="nav-item mr-2">
                                    @await Component.InvokeAsync(typeof(WebUIAspNetMvcCore.Areas.AdminPanel.ViewComponents.BrandList))
                                </li>
                                <li class="nav-item mr-2">
                                    @await Component.InvokeAsync(typeof(WebUIAspNetMvcCore.Areas.AdminPanel.ViewComponents.ColorList))
                                </li>
                                <li class="nav-item mr-2">
                                    <label for="search" class="text-hide mt-4">Arama Yap</label>
                                    <form asp-controller="Car" asp-action="List" class="form-inline">

                                        <input type="search" class="form-control" name="search" placeholder="Arama Yap" />
                                        <button type="submit" class="btn btn-flat btn-outline-success"><i class="fas fa-search"></i></button>
                                    </form>
                                </li>
                            </ul>

                        </div>
                        <!-- /.card-header -->

                        @if (Model.Count > 0)
                        {
                            <div class="card-body">
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Adı</th>
                                            <th>Özellikleri</th>
                                            <th>Model Yılı</th>
                                            <th>Günlük Kiralama Bedeli</th>
                                            <th>Rengi</th>
                                            <th>Markası</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var car in Model)
                                        {
                                            <tr>
                                                <th>@car.Id</th>
                                                <td>
                                                    <a asp-controller="Car" asp-action="Detail" asp-route-carId="@car.Id">
                                                        @car.Name
                                                    </a>

                                                </td>
                                                <td>@car.Description</td>
                                                <td>@car.ModelYear</td>
                                                <td>@car.DailyPrice</td>
                                                <td>@car.ColorName</td>
                                                <td>@car.BrandName</td>
                                                <td>
                                                    <a asp-controller="Car" asp-action="Edit" asp-route-carId="@car.Id"
                                                       class="btn btn-sm  btn-warning">Düzenle </a>
                                                </td>
                                                <td>
                                                    <a asp-controller="Car" asp-action="Delete" asp-route-roleId="@car.Id"
                                                       class="btn btn-sm  btn-danger">Sil</a>
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>#</th>
                                            <th>Rol</th>
                                            <th>Özellikleri</th>
                                            <th>Model Yılı</th>
                                            <th>Günlük Kiralama Bedeli</th>
                                            <th>Rengi</th>
                                            <th>Markası</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        }
                        else
                        {
                            <div class="card-body">
                                <span class="alert alert-warning text-sm">Kayıtlarda herhangi bir <strong>araç</strong> bulunamadı.</span>
                            </div>
                        }

                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->


                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>


@section entityGetAllJs {
    <!-- DataTables  & Plugins -->
    <script src="~/lib/panel/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/panel/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/panel/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/panel/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/lib/panel/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/panel/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/lib/panel/jszip/jszip.min.js"></script>
    <script src="~/lib/panel/pdfmake/pdfmake.min.js"></script>
    <script src="~/lib/panel/pdfmake/vfs_fonts.js"></script>
    <script src="~/lib/panel/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/panel/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/panel/datatables-buttons/js/buttons.colVis.min.js"></script>

    <!-- Page specific script -->
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
}
